{% include "header.html" %}
<div class="courses-container">

    <h1>Repo of Courses I've Taken (Want to Take)</h1>
    <br>
    <table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">Course</th>
      <th scope="col" style="width: 15%">Status</th>
      <th scope="col" style="width: 25%">Description</th>
      <th scope="col" style="width: 20%">Paid or Free</th>
      <th scope="col" style="width: 20%">Rating</th>

    </tr>
  </thead>
  <tbody>
    <tr class="courses-rows">
      <th scope="row"><a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code - The Complete Python Pro Bootcamp for 2021</a></th>
      <td>In Progress 🚧</td>
      <td>Master Python by building 100 projects in 100 days. Learn to build websites, games, apps, plus scraping and data science</td>
      <td>Paid $9.99 for course</td>
      <td>⭐⭐⭐⭐⭐</td>
    </tr>
  <tr class="courses-rows">
    <th scope="row"><a href="https://www.kaggle.com/learn/feature-engineering">Feature Engineering</a></th>
    <td>Up Next 🔜</td>
    <td>Better features make better models. Discover how to get the most out of your data.</td>
    <td>Free</td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>



{% include "footer.html" %}
