    <div class="bottom-container footer">
        <button type="button" class="btn btn-primary btn-lg hi">Come Say Hello! 🙋</button>
        <br>
        <br>
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
      <p>Made with 💖 © 2021 Erin Feaser.</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>