    <div class="bottom-container footer">
        <button type="button" class="btn btn-primary btn-lg hi" style="color: white !important;"><a href = "mailto: erinfeaser311@gmail.com">Come Say Hello! 🙋</a></button>
        <br>
        <br>
      <a class="footer-link" href="https://www.linkedin.com/in/erin-feaser-furr">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/erinfeaser311">Twitter</a>
      <a class="footer-link" href="https://www.instagram.com/erinkf311/">Instagram</a>
      <p>Made with 💖 © 2021 Erin Feaser.</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>