{% include "header.html" %}

  <section class="goals-container">
    <h1>2021 Goals 🎯</h1>
    <br>
       <ul class="list-group list-group-flush bg-transparent">
        <li class="list-group-item bg-transparent">Read / listen to 26 books <span class="badge badge-pill badge-primary">Personal</span></li>
        <li class="list-group-item bg-transparent">📜 Re-launch my blog / personal website</li>
        <li class="list-group-item bg-transparent">🐍💯 Complete #100DaysOfCode challenge, with the 100 Days of Code - The Complete Python Pro Bootcamp for 2021</li>
         <li class="list-group-item bg-transparent">💯 Take 4 Master's courses</li>
        <li class="list-group-item bg-transparent">💻 Improve Web Development Skills through 3+ coding courses</li>
        <li class="list-group-item bg-transparent">✅ Become a certified AWS ML Engineer</li>
        <li class="list-group-item bg-transparent">🏆 Compete in one Kaggle competition</li>
        <li class="list-group-item bg-transparent">Apply to Insight Data Science</li>
           <li class="list-group-item bg-transparent">🚧 Ship 2+ projects live (including an MVP for thrifti)</li>
        <li class="list-group-item bg-transparent">🏋️ Exercise 225 days</li>
        <li class="list-group-item bg-transparent">🏡 Pay off land! Goal → $67.2k!</li>
        <li class="list-group-item bg-transparent">Get 1 product on ProductHunt</li>
        <li class="list-group-item bg-transparent">Apply to a startup accelerator / incubator</li>
        <li class="list-group-item bg-transparent"><del>Curate a morning and evening skincare routine</del></li>
        <li class="list-group-item bg-transparent"><del>Write a personal mission statement</del><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div></li>
       </ul>
  </section>



{% include "footer.html" %}

