{% include "header.html" %}

  <section class="goals-container">
    <h1>2021 Goals 🎯</h1>
    <br>
       <ul class="list-group list-group-flush bg-transparent">
        <li class="list-group-item bg-transparent">Read / listen to 26 books <span class="badge badge-pill badge-primary">Personal</span></li>
        <li class="list-group-item bg-transparent"><del>📜 Re-launch my blog / personal website</del> <span class="badge badge-pill badge-primary">Personal</span></li>
        <li class="list-group-item bg-transparent">🐍💯 Complete #100DaysOfCode challenge, with the 100 Days of Code - The Complete Python Pro Bootcamp for 2021 <span class="badge badge-pill badge-info">Education</span></li>
         <li class="list-group-item bg-transparent">💯 Take 4 Master's courses <span class="badge badge-pill badge-info">Education</span></li>
        <li class="list-group-item bg-transparent">💻 Improve Web Development Skills through 3+ coding courses <span class="badge badge-pill badge-info">Education</span></li>
        <li class="list-group-item bg-transparent">✅ Become a certified AWS ML Engineer <span class="badge badge-pill badge-info">Education</span></li>
        <li class="list-group-item bg-transparent">🏆 Compete in one Kaggle competition <span class="badge badge-pill badge-info">Education</span></li>
        <li class="list-group-item bg-transparent">Apply to Insight Data Science <span class="badge badge-pill badge-info">Education</span></li>
           <li class="list-group-item bg-transparent">🚧 Ship 2+ projects live (including an MVP for thrifti) <span class="badge badge-pill badge-dark">Make</span></li>
        <li class="list-group-item bg-transparent">🏋️ Exercise 225 days <span class="badge badge-pill badge-light">Fitness</span></li>
        <li class="list-group-item bg-transparent">🏡 Pay off land! Goal → $67.2k! <span class="badge badge-pill badge-secondary">Finance</span></li>
        <li class="list-group-item bg-transparent">Get 1 product on ProductHunt <span class="badge badge-pill badge-dark">Make</span></li>
        <li class="list-group-item bg-transparent">Apply to a startup accelerator / incubator <span class="badge badge-pill badge-dark">Make</span></li>
        <li class="list-group-item bg-transparent"><del>Curate a morning and evening skincare routine</del> <span class="badge badge-pill badge-primary">Personal</span></li>
        <li class="list-group-item bg-transparent"><del>Write a personal mission statement</del> <span class="badge badge-pill badge-primary">Personal</span></li></div></li>
       </ul>
  </section>



{% include "footer.html" %}

