{% include "header.html" %}

<div class="container-fluid bg-3 text-center projects">
  <h1>Projects / Made 👩‍💻</h1>
  <div class="row">
    <div class="col-sm-4">
        <p><b>Personal Finance Site</b></p>
      <div class="project-container">
          <p><a href="https://personal-finance.info/">personal-finance.info</a></p>
          <p>A website dedicated to providing personal finance knowledge and resources, with a fun upkeep of BitCoin.</p>
          <img src="https://personal-finance.info/content/images/size/w750/2020/11/coins.jpeg" class="img-responsive" style="width:100%"/>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

{% include "footer.html" %}